.player{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
border: 1px solid #ccc;
border-radius: 1rem;
padding: 1rem;
width: 80%;
}
.uploadSection{
}
.listSection{
    width: 100%;
    display: flex;
    justify-content: center;
}

.playlistTile{
    display: flex;
    flex-direction: column;

}